{% extends "vacancy/base.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ vacancy.company }}</a>
                    <small class="text-muted">{{ vacancy.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ vacancy.title }}</a></h2>
                <p class="article-content">{{ vacancy.content }}</p>
            </div>
        </article>
{% endblock content %}